/* EXTERNAL RESSOURCES */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

/* GENERAL RULES */
* {
    margin: 0;
    padding: 0;
    /* include padding and border to width */
    box-sizing: border-box;
}

html {
    /* 10px / 16px = 0.625 = 62.5% */
    font-size: 62.5%
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* REUSABLE COMPONENTS */
.container {
    margin: 0 auto;
    max-width: 140rem;
}

/* HEADER */
.header {
    background-color: #BDF7B7;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 5rem;

    list-style: none;
}

/* HERO SECTION */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.hero-image-container {
    flex-shrink: 0;
    padding: 0 5rem;
    width: 80%;
}

.hero-image {
    width: 100%;
}

.hero-text-container {
    flex-shrink: 1;
}
